@import "src/assets/styles/colors";
.new-verb {
  border: 1px solid $primary;
  border-radius: 5px;
  padding: 0 0.5rem;
  .first-input {
    background: #F2F2F2;
    margin-left: -0.5rem;
    padding-left: 0.5rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
    margin-right: 0.5rem;
  }
  // 31185272-1 Día 17 de junio máximo
  // 10062022090759
  // www.banamex.com/dondeestamitarjeta
  // Número de cliente máximo 5 días - 40 días para recogerla
  // Activarla en canales digitales o con el nip de la tarjeta anterior
  //
}