@import "src/assets/styles/colors";
.activities-container {
  background: #FFFFFF;
  height: 100%;
  border-radius: 5px;
  max-height: calc(100vh - 164px);
  overflow: auto;

  .header {
    background: #FFFFFF;
  }
  .new-verb {
    border: 1px solid $primary;
    border-radius: 5px;
    padding: 0 0.5rem;
    .first-input {
      background: #F2F2F2;
      margin-left: -0.5rem;
      padding-left: 0.5rem;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0;
      margin-right: 0.5rem;
    }
  }

}