@import "src/assets/styles/colors";

.teacher-option {
  margin: 0  -1rem;
  padding: 0 1rem;
  &:hover {
    background: $secondary;
    cursor: pointer;
  }
}

.active-teacher {
  background: $secondary;
  margin: 0 -1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
