$brand-orange: #343554;
$brand-blue: #81C5ED;
$brand-green: #5CC8BF;
$brand-white: #F2F2F2;
$brand-gray-e6: #E6E6E6;
$brand-gray-border: #b3b3b3;
$brand-light-black: #757575;
$brand-black: #606060;
$brand-red: #FF5858;

$primary: $brand-orange;
$secondary: $brand-blue;
$terciary: $brand-green;
$border-light: $brand-gray-e6;
$border-dark: $brand-gray-border;
$black: $brand-black;
$white: $brand-white;
$red: $brand-red;

$error: $brand-red;